<mat-card>
  <mat-card-title>Assign Role</mat-card-title>
  <mat-card-content>
    <form class="normal-form" [formGroup]="assignForm" (ngSubmit)="onSubmit()">
      <mat-form-field style="width:200px;">
        <mat-select placeholder="Select User" formControlName="user_id">
          <mat-option *ngFor="let user of users" [value]="user?.user_id">
            {{user?.username}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:200px;">
          <mat-select placeholder="Select Role" formControlName="role_id">
            <mat-option *ngFor="let role of roles" [value]="role?.role_id">
              {{role?.role_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <button mat-raised-button color="primary" class="create-user-button">Submit</button>
    </form>
  </mat-card-content>
</mat-card>  