.example-card {
  max-width: 600px;
}
p {
  font-family: Lato;
}

// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948; /* green */
// }

// .ng-invalid:not(form):not(div)  {
//   border-left: 1px solid #a94442; /* red */
// }
[role=hover]{cursor:pointer}

input{
  padding-left: 10px;
}

input:not([readonly]){
  border-left:  2px red solid;

  // border: 2px red solid;
}
