<mat-card class="example-card">
  <mat-card-title>My Profile</mat-card-title>

  <mat-card-content>
          <form [formGroup]="form">


            <!-- Please donot delete -->

              <!-- <label><b>Name:</b></label>
              <sat-popover #username
              hasBackdrop
              xAlign="start"
              yAlign="start"
              (closed)="update(user, $event,'username')">
                <app-edit [value]="user.username"></app-edit>
              </sat-popover>
            <mat-form-field class="form-element">
              <input matInput [satPopoverAnchorFor]="username" (click)="username.open('username')"
              class="form-control"
              formControlName="username"
              [readonly]="disabled" required>
            </mat-form-field> -->


          <mat-label for="txtName"><b>Name:</b>

            <mat-form-field class="form-element">
              <input matInput
              id="txtName"
              class="form-control"
              formControlName="username"
              [readonly]="disabled" required>
              <mat-error *ngIf="!form.controls['username'].valid && form.controls['username'].touched">
                  Required field, must be between 5 and 30 characters.
                </mat-error>
            </mat-form-field>
        </mat-label>

          <label for="txtEmail"><b>Email:</b></label>
          <mat-form-field class="form-element">
            <input matInput
            id="txtEmail"
            class="form-control"
            formControlName="email"
            [readonly]=true required>
          </mat-form-field>

          <label><b>Company:</b></label>
          <mat-form-field class="form-element">
            <input matInput
            class="form-control"
            formControlName="company"
            [readonly]="disabled" >
          </mat-form-field>

          <label><b>Designation:</b></label>
          <mat-form-field class="form-element">
            <input matInput
            class="form-control"
            formControlName="designation"
            [readonly]="disabled" required>
          </mat-form-field>

          <label><b>Phone:</b></label>
          <mat-form-field class="form-element">
            <input matInput
            class="form-control"
            formControlName="phone"
            [readonly]="disabled" required>
          </mat-form-field>

          <label><b>Address:</b></label>
          <mat-form-field class="form-element">
            <input matInput
            class="form-control"
            formControlName="address"
            [readonly]="disabled" required>
          </mat-form-field>

          <span *ngIf="!form.valid && form.hasError" class="alert alert-danger">
            <mat-card style="background: pink">
              <mat-label style="color: red">Please fill all required fields *</mat-label>
            </mat-card>

          </span>

          <button mat-raised-button
          type="button"
          class="btn btn-success"
          (click)="disabled = !disabled"
          >
          <span class="glyphicon glyphicon-pencil"></span> Edit Profile
        </button>

        <span *ngIf="!disabled">
            <button mat-button color="warn" class="btn btn-default" type="button" (click)="onReset()">
              Reset
            </button>
            <!-- <button class="btn btn-primary pull-right" type="submit">Save</button> -->
            <button mat-raised-button color="primary" class="btn btn-primary pull-right" (click)="onSubmit()">
              Save
            </button>
        </span>



        <!-- <p><label>Full name: <input name=fn> <small>Format: First Last</small></label></p>
        <p><label>Age: <input name=age type=number min=0></label></p>
        <p><label>Post code: <input name=pc> <small>Format: AB12 3CD</small></label></p>
        <label><input type=checkbox name=lost> Lost</label> -->

      </form>

      <!-- <span role="hover" *ngIf="disabled"> -->


      <!-- </span> -->


  </mat-card-content>

  <mat-card-content>
      <div>
          <!-- <mat-label style="color: blue" (click)="updatePassword()">Update Password</mat-label> -->
          <a *ngIf="disabled" role="hover" style="color: blue" (click)="updatePassword()">Update Password</a>
            </div>

  </mat-card-content>




</mat-card>
