<h1 mat-dialog-title class="border-bottom">Add Expansion</h1>
<div mat-dialog-content>
    <p>Use <b>Synonyms</b> to specify multiple words that should be considered equivalent.</p>
    <form [formGroup]="addForm">
        <mat-form-field class="synonyms-chip-list">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let word of synonyms" [selectable]="selectable" [removable]="removable" (removed)="remove(word)" color="accent">
                    {{word}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="List of synonyms" formControlName="synonym" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">

            </mat-chip-list>
        </mat-form-field>
        <button [disabled]="addForm.controls.synonym.value === ''" id="local-btn" mat-mini-fab class="text-white" (click)="saveLocal()">
        <mat-icon class="right-pad">add</mat-icon>
    </button>
    </form>
    <mat-chip-list class="synonyms-chip-list" *ngFor="let ele of allSynonyms">
        <mat-chip style="background-color:#46AC59; color: #FFFFFF">{{ele}}</mat-chip>
    </mat-chip-list>
</div>
<div mat-dialog-actions class="border-top center-lg">
    <button mat-raised-button id="cncl-btn" color="warn" (click)="onClose()">Cancel</button>
    <button mat-raised-button id="save-btn" color="accent" class="text-white" [disabled]="!allSynonyms.length" (click)="saveSynonyms()">Save</button>
</div>