<form [formGroup]="form">
  <div class="container">
    <div style="padding-top: 70px"></div>
    <app-loading></app-loading>
    <mat-card style="background: gray">
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="searchValue"
          placeholder="Search"
          autocomplete="off"
        />
      </mat-form-field>
    </mat-card>

    <mat-card style="background: black;margin-top: 10px;" *ngIf="showResult">
      <p style="color: white;margin:auto;width:50%" *ngIf="!elasticData">
        Loading...
      </p>
      <ngx-json-viewer
        [json]="elasticData"
        *ngIf="elasticData"
      ></ngx-json-viewer>
    </mat-card>
  </div>
</form>
