<div *ngIf="visible;then tablelist else current"></div>
<ng-template #tablelist>
  <app-table-list></app-table-list>
</ng-template>

<ng-template #current>
  <h1 mat-dialog-title>Schemas
  </h1>
  <div [@anim]='state' [@shake]='shakeState'>
    <mat-selection-list class="dlg-list-container" (selectionChange)="changeSelect($event)">
      <mat-list-option *ngFor="let s of schemas">
        {{s}}
      </mat-list-option>
    </mat-selection-list>
    <div class="row between-xs">
      <div class="col-xs-4" style="margin-left:-12px">
        <button mat-button color="primary">Back</button>
      </div>

      <div class="col-xs-3">
        <button mat-raised-button color="primary" (click)="next()">
          Next &nbsp;
        </button>
      </div>
    </div>
  </div>
</ng-template>
