<form [formGroup]="form">
    <mat-toolbar color="primary">
        <mat-icon class="right-pad">grain</mat-icon> <span>Synonyms</span>
    </mat-toolbar>
    <mat-card>
        <div style="text-align:right">
            <button id="add-btn" mat-raised-button color="accent" class="text-white" (click)="openDialog()"><mat-icon class="right-pad">add</mat-icon>Add Synonyms</button>
        </div>
        <div class="mat-elevation-z8 margin-top">
            <table mat-table [dataSource]="dataSource">

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> Synonym </td>
                </ng-container>

                <!-- Expansion Column -->
                <ng-container matColumnDef="expansion">
                    <th style="text-align:center" mat-header-cell *matHeaderCellDef> Expansion </th>
                    <td style="text-align:center" mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element">
                            <span *ngFor="let item of element.split(','); let i = index">{{i === 0 ? '' : '&harr;'}}{{item}}</span>
                        </ng-container>
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th style="text-align:center" mat-header-cell *matHeaderCellDef> Actions </th>
                    <td style="text-align:center" mat-cell *matCellDef="let element"> <button mat-raised-button class="text-white" color="accent" style="margin-right: 5%;"><mat-icon>edit</mat-icon>Edit</button>
                        <button mat-raised-button class="text-white" color="accent"><mat-icon>delete</mat-icon>Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card>
</form>