<div [@anim]='state' [@shake]='shakeState'>
  <h1 mat-dialog-title>Columns
  </h1>
  <mat-selection-list class="dlg-list-container">
    <mat-list-option *ngFor="let t of columns">
      {{t}}
    </mat-list-option>
  </mat-selection-list>
  <div class="row between-xs">
    <div class="col-xs-4" style="margin-left:-12px">
      <button mat-button color="primary">Back</button>
    </div>

    <div class="col-xs-4">
      <button mat-raised-button color="primary" (click)="createIndex()">
        Create Index &nbsp;
      </button>
    </div>
  </div>
</div>
