<div style="overflow-x: hidden !important;">
  <div *ngIf="visible;then tablelist else current"></div>
  <ng-template #tablelist>
    <app-database-list [database]="databaseList"></app-database-list>
  </ng-template>

  <ng-template #current>
    <div [@shake]='shakeState'>
      <h1 mat-dialog-title>Elastic Configuration
        <mat-divider></mat-divider>
      </h1>
      <form [formGroup]="form">
        <div class="row">
          <!-- Host Name -->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <mat-form-field>
              <input matInput placeholder="Host Name*" formControlName="host" autocomplete="off">
            </mat-form-field>
          </div>

          <!-- Port Number -->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <mat-form-field>
              <input matInput onlynumber="true" placeholder="Port*" formControlName="port" autocomplete="off">
            </mat-form-field>
          </div>

          <!-- User Name -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-form-field>
              <input matInput placeholder="User Name*" formControlName="username" autocomplete="off">
            </mat-form-field>
          </div>

          <!-- Password -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-form-field>
              <input matInput placeholder="Password*" formControlName="password" autocomplete="off">
            </mat-form-field>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-2 col-sm-2 col-md-6 col-lg-6">
          </div>
          <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
            <button mat-raised-button color="primary" (click)="closeDlg()">Close</button>
          </div>
          <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
            <button mat-raised-button color="primary" (click)="connectElastic()">OK</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
