<mat-tab-group>
    <mat-tab label="Data">
        <app-index-data></app-index-data>
    </mat-tab>
    <mat-tab label="Ranking">
        <app-ranking></app-ranking>
    </mat-tab>
    <mat-tab label="Synonyms">
        <app-synonyms></app-synonyms>
    </mat-tab>
</mat-tab-group>