<div *ngIf="visible;then columnlist else current"></div>

<ng-template #columnlist>
  <app-column-list></app-column-list>
</ng-template>

<ng-template #current>
  <h1 mat-dialog-title>Tables
  </h1>
  <div [@anim]='state'>
    <mat-selection-list class="dlg-list-container" (selectionChange)="changeSelect($event)">
      <mat-list-option *ngFor="let t of tables">
        {{t}}
      </mat-list-option>
    </mat-selection-list>

    <div class="row between-xs">
      <div class="col-xs-4" style="margin-left:-12px">
        <button mat-button color="primary">Back</button>
      </div>

      <div class="col-xs-3">
        <button mat-raised-button color="primary" (click)="next()">
          Next &nbsp;
        </button>
      </div>
    </div>

  </div>
</ng-template>
