<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)" [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
    <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
    {{item.displayName}}
    <span fxFlex *ngIf="item.children && item.children.length">
  <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        keyboard_arrow_right
    </mat-icon>
    </span>
</a>
<div *ngIf="expanded">
    <app-side-nav-bar *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-side-nav-bar>
</div>