@import '../theme';
:host {
    display: block;
    outline: none;
    .mat-list-item.active {
        background-color: mat-color($app-primary, 100);
    }
    &:hover,
    &:focus {
        >.mat-list-item:not(.expanded) {
            background-color: mat-color($app-primary, 100) !important;
        }
    }
}

.mat-list-item {
    padding: 8px 0;
    .routeIcon {
        margin-right: 40px;
    }
}