<div class="row center-xs" >
  <div class="col-xs-6">
    <div class="box">
      <h2>Working..</h2>
      <img height="400" width="600" src="./assets/image/underconstruction_illustration.jpg">
    </div>
  </div>
</div>
