<mat-card>
  <mat-card-title>Configure Routing</mat-card-title>
  <mat-card-content>
    <form class="normal-form" [formGroup]="routingForm">
      <mat-grid-list cols="2" rowHeight="fit">
        <mat-grid-tile>
          <div class="text-inside-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Restricted Column Name</mat-label>
              <mat-select formControlName="restrictedColumnName">
                <mat-option *ngFor="let t_col of table_columns" [value]="t_col">
                  {{ t_col }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Priority Column Name</mat-label>
              <mat-select formControlName="priorityColumnName">
                <mat-option *ngFor="let t_col of table_columns" [value]="t_col">
                  {{ t_col }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Usage Column Name</mat-label>
              <mat-select formControlName="usageColumnName">
                <mat-option *ngFor="let t_col of table_columns" [value]="t_col">
                  {{ t_col }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Speed Column Name</mat-label>
              <mat-select formControlName="speedColumnName">
                <mat-option *ngFor="let t_col of table_columns" [value]="t_col">
                  {{ t_col }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Direction Column Name</mat-label>
              <mat-select formControlName="directionColumnName">
                <mat-option *ngFor="let t_col of table_columns" [value]="t_col">
                  {{ t_col }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Name Column</mat-label>
              <mat-select formControlName="nameColumn">
                <mat-option *ngFor="let t_col of table_columns" [value]="t_col">
                  {{ t_col }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-form-field class="routing-input-fields">
        <mat-label>Round About Identification</mat-label>
        <input matInput formControlName="roundaboutIdentification" />
      </mat-form-field>

      <mat-form-field class="routing-input-fields">
        <mat-label>U Turn Identification</mat-label>
        <input matInput formControlName="uturnIdentification" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Direction Identification</mat-label>
        <input matInput formControlName="directionIdentification" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Restricted Identification</mat-label>
        <input matInput formControlName="restrictedIdentification" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Semi-Restricted Identification</mat-label>
        <input matInput formControlName="semiRestrictedIdentification" />
      </mat-form-field>

      <mat-divider></mat-divider>

      <div sytle="width:100%; text-align:right">
        <button
          mat-raised-button
          color="primary"
          class="create-routing-button"
          (click)="saveGraphConfig()"
        >
          Submit
        </button>
        <button
          mat-raised-button
          color="primary"
          class="create-routing-button"
          (click)="publishService()"
        >
          Publish
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
