.normal-form {
  margin: 10px;
  width:100%;
}

.mat-grid-list {
  height: 300px;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
  width:80%;
}

.mat-form-field {
  width: 100%;
}

.routing-input-fields {
  width: 30px;
}

.create-routing-button {

  margin:10px;
}