<mat-toolbar color="primary" class="mat-elevation-z1">
    <button mat-icon-button id="menu" (click)="navService.toggleNav()">
  <mat-icon>menu</mat-icon>
</button>
    <span>Navigation Drawer</span>
    <span class="menu-spacer"></span>
    <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
   </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="viewProfile()">
          <mat-icon>person</mat-icon>
        View profile</button>
        <!-- <button mat-menu-item (click)="logout()">Logout</button> -->
    </mat-menu>
</mat-toolbar>