
<form [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Enter your current password" formControlName="oldpassword">
        <mat-error *ngIf="form.controls['password'].invalid">Password is required</mat-error>
      </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter new password" formControlName="password">
      <mat-error *ngIf="form.controls['password'].invalid">Password is required</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="form.controls['password'].valid">
      <input matInput placeholder="Confirm your new password" formControlName="confirmPassword">
  <mat-error *ngIf="form.controls['confirmPassword'].pristine || form.controls['confirmPassword'].errors?.MatchPassword">Password does not match</mat-error>
    </mat-form-field>
        <button *ngIf="form.controls['password'].valid" mat-raised-button color="primary" class="btn btn-primary pull-right" (click)="onSubmitMe()">
          Update
        </button>
  </form>
