<form [formGroup]="form">
    <mat-toolbar color="primary">
        <mat-icon class="right-pad">search</mat-icon>
        <span>Searchable Attributes</span>
    </mat-toolbar>
    <mat-card>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-chip-list>
                        <mat-chip *ngFor="let col of searchAbleAttr" selected color="accent" [removable]="true">
                            {{ col }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>

                    <mat-form-field>
                        <mat-select placeholder="Columns" formControlName="searchableColumns" multiple (selectionChange)="onSelectCol($event)">
                            <mat-option *ngFor="
                  let col of indexService.currentIndex.databaseMeta?.columns
                " [value]="col">{{ col }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <mat-card *ngIf="rankings.length == 0">
                        <i class="fa fa-exclamation-triangle dangerous right-pad" aria-hidden="true"></i>
                        <small>Not Configured</small>
                    </mat-card>

                    <div *ngFor="let sc of searchAbleAttr">
                        <mat-card> {{ sc }} </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-toolbar color="primary">
        <i class="fa fa-thermometer-full right-pad" aria-hidden="true"></i> Ranking Formula
    </mat-toolbar>
    <mat-card>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                    <mat-accordion class="example-headers-align">
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <small>
                    <h4>Ranking Criteria</h4>
                  </small>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <small id="ranking-exp-panel">Click to expand</small>
                                    <i class="fa fa-expand" aria-hidden="true"></i>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <mat-card *ngFor="let rc of rankingCriterias" class="mc">
                                <mat-chip class="chip-color">TEXTUAL</mat-chip>
                                <span style="margin-right:60%;">{{ rc }}</span>
                                <mat-icon (click)="removeRank(rc)">delete</mat-icon>
                            </mat-card>

                            <mat-action-row>
                                <a href="javascript:;" (click)="resetCriteria()">Reset To Default</a>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-card *ngIf="rankings.length == 0" class="center-lg">
                        <i class="fa fa-exclamation-triangle dangerous right-pad" aria-hidden="true"></i>
                        <small>No Custom Ranking</small>
                    </mat-card>

                    <div *ngFor="let rc of rankings">
                        <mat-card> {{ rc }} </mat-card>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                    <mat-form-field class="toggle-margin">
                        <mat-select placeholder="Custom ranking attribute" formControlName="rankColumns" multiple (selectionChange)="onSelectionRnk($event)">
                            <mat-option *ngFor="
                  let col of indexService.currentIndex.databaseMeta?.columns
                " [value]="col">{{ col }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-toolbar color="primary">
        <i class="fa fa-american-sign-language-interpreting right-pad" aria-hidden="true"></i> Typo Tolerance
    </mat-toolbar>
    <mat-card>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <mat-form-field>
                        <mat-select placeholder="Typo Tolerance" (selectionChange)="isTypo($event)" formControlName="typoTolerance">
                            <mat-option *ngFor="let pol of polarity" [value]="pol">{{ pol.toString().toUpperCase() }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <mat-form-field>
                        <mat-select placeholder="Fuzziness" formControlName="fuzziness">
                            <mat-option *ngFor="let val of fuzziness" [value]="val.value">
                                {{val.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <mat-form-field>
                        <input matInput placeholder="Prefix Length" formControlName="pre_length" />
                    </mat-form-field>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <mat-form-field>
                        <input matInput placeholder="Max Expansions" formControlName="max_expansions" />
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <section class="trans-section">
                        <mat-checkbox formControlName="trans_pos">Transpositions</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4>Ignore Plurals</h4>
                    <mat-hint>If Enabled, plurals won't be considered as typos, cat/cats and foot/feet will be considered equal.
                    </mat-hint>
                    <section class="toggle-section">
                        <mat-slide-toggle formControlName="ignore_plurals" class="toggle-margin" color="accent">
                        </mat-slide-toggle>
                    </section>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4 id="typo-head">Disable typo tolerance on attributes</h4>
                    <mat-hint>List of attributes on which you want to disable typo tolerance.
                    </mat-hint>
                    <mat-form-field>
                        <mat-select id="disable-typo-select" placeholder="" formControlName="disableTypo" multiple>
                            <mat-select-trigger>
                                {{ form.get('disableTypo').value ? form.get('disableTypo').value[0] : '' }}
                                <span id="typo-txt" *ngIf="form.get('disableTypo').value?.length > 1" class="typo-additional-selection">
                  (+{{ form.get('disableTypo').value.length - 1 }}
                  {{
                  form.get('disableTypo').value?.length === 2
                  ? 'other'
                  : 'others'
                  }})
                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="
                  let field of indexService.currentIndex.databaseMeta?.columns;
                  let i = index
                " id="opt-{{ i }}" [value]="field">{{ field }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4>Remove Stopwords</h4>
                    <mat-hint>If Enabled, stop words (a, at, is, ...) will remove from the search query.
                    </mat-hint>
                    <section class="toggle-section">
                        <mat-slide-toggle formControlName="remove_stopwords" class="toggle-margin" color="accent" (change)=onChange($event)>
                        </mat-slide-toggle>
                    </section>
                    <ng-container *ngIf="isRemoveStopwords">
                        <mat-form-field class="stop-chip-list">
                            <mat-chip-list #chipList>
                                <mat-chip color="accent" class="chip-color" *ngFor="let sw of stopWords" [selectable]="selectable" [removable]="removable" (removed)="remove(sw)">
                                    {{sw.toUpperCase()}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input id="sw-input" placeholder="New stopword..." #stopWordInput [formControl]="swCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let fsw of filteredStopWords | async" [value]="fsw">
                                    {{fsw.toUpperCase()}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>
        </div>

    </mat-card>

    <mat-toolbar color="primary">
        <i class="fa fa-filter right-pad" aria-hidden="true"></i> Optional Words
    </mat-toolbar>
    <mat-card>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12">
                    <mat-form-field>
                        <input matInput placeholder="Optional Words" formControlName="optionalWords" />
                        <mat-hint>Comma-separated list of words that should be considered as optional.
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
</form>
<div class="row center-lg center-md center-sm center-xs">
    <div class="box">
        <button mat-raised-button color="accent" class="save-btn" (click)="save()">Save</button>
    </div>
</div>