<mat-card>
  <mat-card-title>Assign Policy</mat-card-title>
  <mat-card-content>
    <form class="normal-form" [formGroup]="assignForm" (ngSubmit)="onSubmit()">
      <mat-form-field style="width:200px;">
        <mat-select placeholder="Select Role" formControlName="role_id">
          <mat-option *ngFor="let role of roles" [value]="role.role_id">
            {{role.role_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h3>Policy List</h3>
      <mat-divider></mat-divider>
      <p>
          <mat-tab-group dynamicHeight>
              <mat-tab *ngFor="let product of products" [label]="product.product_name">
                  <mat-selection-list #policy matLine (selectionChange)="onSelection($event, policy.selectedOptions)">
                      <mat-list-option *ngFor="let policy of product.policies" [value]="policy.policy_id">
                          {{policy.policy_name}}
                      </mat-list-option>
                  </mat-selection-list>
              </mat-tab>
          </mat-tab-group>
      </p>
      <button mat-raised-button color="primary" class="create-user-button">Submit</button>
    </form>
  </mat-card-content>
</mat-card>