<!-- <p>
  index-data works!
</p>
[length]="100"
[pageSizeOptions]="[5, 10, 25, 100]"
<mat-card-title> test </mat-card-title> -->


<mat-paginator #paginator

              [pageSize]="10"
              (page)="getNext($event)"
              showFirstLastButtons>
</mat-paginator>
<!-- <mat-list-item *ngFor="let temp of temp">
    <i></i><p>{{temp._source.compound_address_parents}}</p>

</mat-list-item> -->
<!-- <mat-list-item *ngFor="let temp of temp"> -->
<mat-card *ngFor="let temp of temp">
    <mat-card-content>
      <h4>{{temp._source.compound_address_parents}}</h4>
      <p>

        <ngx-json-viewer [json]="getJSON(temp._source)"></ngx-json-viewer>



      </p>
    </mat-card-content>
    <p>


    </p>
    <!-- <div class="md-actions" layout="row" layout-align="end center"> -->
      <!-- <mat-button>Save</mat-button>
      <mat-button>View</mat-button> -->
    <!-- </div> -->
  </mat-card>
<!-- </mat-list-item> -->
<!-- <ngx-json-viewer [json]="temp"></ngx-json-viewer> -->
