mat-toolbar {
  bottom: -5px;
  height: 50px !important;
}

.index-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.fa-exclamation-circle {
  margin-top: 40px;
  transform: scale3d(8, 8, 8);
}
.indicies-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-around;
}
.boxs {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: rgb(82, 81, 81);
  color: black;
  padding: 3px;
  margin-top: 5px;
  transition: all 0.5s ease;
  span {
    margin-left: 10px;
  }
  .sub-title {
    font-size: 10px;
    font-style: italic;
  }
  .fa-window-close {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
  }
  &:hover {
    transform: scale(1.01);
  }
  .sub {
    display: flex;
  }
  .fa-clock-o {
    margin-top: -3px;
    margin-left: 3px;
  }
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: auto;
  color: #444;
  justify-content: center;
  .search-input {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 20px;
    background: #8e8e8e;
    input {
      width: 90%;
      margin-top: -3px;
    }
    mat-icon {
      margin-top: -5px;
    }
  }

  .create-new-box {
    color: orangered;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset 0 0 10px #000000;
    transition: 250ms ease-in-out, transform 150ms ease;
    &:hover {
      background: #dcdcdc;
      font-weight: bold;
    }

    &:active {
      background: #e5e5e5;
      -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
      -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
      box-shadow: inset 0px 0px 5px #c1c1c1;
      outline: none;
    }
  }
  .box {
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    grid-gap: 1px;

    display: grid;
    grid-template-rows: [row]60px [row]40px [row]35px;
    grid-template-columns: [col]200px;
    color: #444;
    .upper {
      grid-column: col;
      grid-row: 1/3;
      background-color: slateblue;
      color: wheat;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .lower {
      grid-column: col;
      grid-row: 3/3;
      background-color: seagreen;
      color: rgb(245, 212, 151);
      display: flex;
      justify-content: space-between;
      padding: 5px;
      cursor: pointer;
      span {
        font-size: 10px;
      }
    }
  }
  .paginator {
    grid-row: row 3;
    grid-column: 1/5;
    justify-self: center;
  }
}
