<div *ngIf="init; then empty; else nonempty"></div>

<ng-template #empty> </ng-template>

<ng-template #nonempty>
  <div
    *ngIf="indicies && indicies.length > 0; then indexlist; else noindex"
  ></div>
</ng-template>

<ng-template #noindex>
  <div class="row center-xs" style="background-color: white;">
    <div class="col-xs-6">
      <div class="box">
        <h2>You don't have any indices...</h2>
        <h4>To create indicies first you have to configure Database</h4>
        <button mat-raised-button (click)="addNewIndex()" color="primary">
          Configure Database!
        </button>
        <img src="./assets/image/db-illus.png" />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #indexlist>
  <div class="grid-container">
    <mat-card class="search-input">
      <input
        type="text"
        matInput
        placeholder="Search Index"
        autocomplete="off"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-card>
    <div class="create-new-box" (click)="addNewIndex()">Create New Index</div>
    <div *ngFor="let idx of indicies">
      <div class="box a" (click)="selectIndex(idx)">
        <div class="box upper">
          <p>{{ idx.indexName }}</p>
        </div>
        <div class="box lower">
          <span>
            <p>12/12/12</p>
            <p>Last Updated</p>
          </span>
          <span>
            <p>{{ idx.documentSize }}</p>
            <p>Records</p>
          </span>
        </div>
      </div>
    </div>

    <mat-paginator
      class="paginator"
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>
  <!--
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <mat-toolbar color="primary" class="index-header">
          <span style="display: block">Create Index
          </span>
          <div>
            <mat-icon class="example-icon link" (click)="addNewIndex()">add_box</mat-icon>
          </div>
        </mat-toolbar>

        <div *ngFor="let idx of indicies">
          <div class="box" (click)="selectIndex(idx.name)">
            <span>{{idx.name}}
              <div class="sub">
                <p class="sub-title">{{idx.updated}}</p>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
              </div>
            </span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voicemail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      </div>
    </div>
  -->
  <!--
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="row center-xs">
        <div class="col-xs-6">
          <h2>Data Portion</h2>
          <h3>Working..</h3>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  -->
  <!-- </div> -->
</ng-template>
