<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    fixedInViewport="true" 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" 
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Auto Index</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="javascript:;" [routerLink]="['list-user']">
        <div class="row" style="width:100%">
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            List Users
          </div>   
        </div>
      </a>
      <a mat-list-item href="javascript:;" [routerLink]="['add-user']">
        <div class="row" style="width:100%">
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            Create User
          </div>   
        </div>
      </a>
      <a mat-list-item href="javascript:;" [routerLink]="['assign-policy']">
        <div class="row" style="width:100%">
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <i class="fa fa-gears" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            Assign Policy
          </div>   
        </div>
      </a>
      <a mat-list-item href="javascript:;" [routerLink]="['assign-role']">
        <div class="row" style="width:100%">
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            Assign Role
          </div>   
        </div>
      </a>

      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button 
        type="button" 
        aria-label="Toggle sidenav" 
        mat-icon-button (click)="drawer.toggle()" 
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Admin Module</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
 
</mat-sidenav-container>
