<!--
  <a href="javascript:;" (click)="do()">Admin</a><br />
  <a href="javascript:;" [routerLink]="['/app']">Standard </a><br />
  <a href="javascript:;" [routerLink]="['/admin']">Admin Module </a><br />
-->
<!-- <div class="wrapper">
    <div class="login-box">
        <form [formGroup]="form">
            <div class="field-line">
                <mat-icon>person</mat-icon>
                <mat-form-field>
                    <input matInput placeholder="Email*" autocomplete="off" formControlName="email" />
                </mat-form-field>
            </div>

            <div class="field-line">
                <mat-icon>lock</mat-icon>
                <mat-form-field>
                    <input matInput type="password" formControlName="password" placeholder="Password*" autocomplete="off" />
                </mat-form-field>
            </div>

            <div class="field-btn">
                <button mat-raised-button (click)="authenticate()">Login</button>
            </div>
        </form>
    </div>
</div> -->
<div style="text-align: center;">
    <mat-card class="login-card">
        <mat-card-header color="primary" class="login-header">
            <h2>Login</h2>
        </mat-card-header>
        <mat-card-content class="card-content">
            <form [formGroup]="form">
                <div class="login-field">
                    <label class="field-label">Email<mat-icon class="tooltip-icon" matTooltip="Enter the email">info_outline</mat-icon></label>
                    <mat-form-field color="accent" appearance="outline">
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput placeholder="example@mail.com" autocomplete="off" formControlName="email" />
                    </mat-form-field>
                </div>

                <div class="login-field">
                    <label class="field-label">Password<mat-icon class="tooltip-icon" matTooltip="Enter the password">info_outline</mat-icon></label>
                    <mat-form-field appearance="outline">
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput type="password" formControlName="password" placeholder="*******" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div>
                    <button class="btn-login" mat-raised-button color="accent" (click)="authenticate()">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>