.login-center {
    text-align: center;
}

.login-card {
    display: inline-block;
    padding: 0px;
    max-width: 30%;
    width: 30%;
    top: 100px;
    border-radius: 5px;
}

.login-header {
    color: white;
    background-color: #1A5D2A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    margin-top: 10px;
}

.login-field {
    padding: 0px 10px;
    text-align: start;
}

.btn-login {
    margin: 20px 0px;
    color: white;
}