// .sidenav {
//   width: 200px;
// }
// .cont {
//   display: flex;
//   justify-content: space-between;
// }
// .example-container {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
// .example-is-mobile .example-toolbar {
//   position: fixed;
//   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
//   z-index: 2;
// }
// h1.example-app-name {
//   margin-left: 8px;
// }
// .example-sidenav-container {
//   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
//      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
//   flex: 1;
// }
// .example-is-mobile .example-sidenav-container {
//   /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
//      `<body>` to be our scrolling element for mobile layouts. */
//   flex: 1 0 auto;
// }
// .container {
//   margin-top: 10px;
// }
// .trake {
//   display: block;
//   font-size: 14px;
// }
@import '../../shared/navigation/breakpoints';
@import '../../shared/navigation/theme';
.mat-sidenav {
    width: 300px;
}

.mat-sidenav-container {
    background-color: white !important;
    height: 100vh;
}

.sidenav-toolbar {
    height: 64px;
    background-color: mat-color($app-primary);
    display: flex;
    flex-direction: row;
    @media (max-width: 600px) {
        height: 56px;
    }
}

.mat-nav-list {
    padding-top: 0;
}

@include breakpoint-max(600px) {
    .fixed-topnav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100% !important;
    }
    .mat-drawer-container,
    .mat-drawer {
        padding-top: 56px;
    }
}

.version-info {
    font-size: 8pt;
    float: right;
    padding: 8px;
}

.logo {
    height: 64px;
    background-color: rgba(0, 0, 0, 0.12);
    text-align: center;
}

.logo-center {
    vertical-align: -webkit-baseline-middle;
}

.border-right {
    border-right: #E0E0E0 1px solid;
}