<!-- <app-top-tool-bar class="fixed-topnav" fxHide.gt-xs></app-top-tool-bar> -->
<mat-sidenav-container>
    <mat-sidenav #appDrawer mode="side" opened="true" class="border-right">
        <div class="logo">
            <span><img alt="homepage"  class="logo-center" src="assets/image/tplmaps-logo.png" width="300" height="65"></span>
        </div>
        <mat-nav-list>
            <app-side-nav-bar *ngFor="let item of navItems" [item]="item"></app-side-nav-bar>
        </mat-nav-list>
    </mat-sidenav>
    <app-top-tool-bar fxHide.xs></app-top-tool-bar>
    <router-outlet></router-outlet>
    <!--all routes will render here-->
</mat-sidenav-container>