mat-toolbar {
    height: 40px;
    margin-top: 15px;
}

.container-fluid {
    mat-card {
        // text-align: center;
        padding: 10px;
        background-color: mintcream;
        margin-bottom: 3px;
    }
}

mat-accordion {
    mat-expansion-panel {
        margin-bottom: 3px !important;
    }
    mat-card {
        display: flex !important;
        justify-content: space-between !important;
        padding: 10px !important;
        background-color: #cedbf1 !important;
    }
}

mat-chip {
    margin-right: 10px !important;
}

.fa-window-close {
    cursor: pointer;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.right-pad {
    padding-right: 5px;
}

.text-white {
    color: #FFFFFF;
}

table {
    width: 100%;
}

.margin-top {
    margin-top: 2%;
}