<div *ngIf="visible;then schemalist else current else back"></div>
<ng-template #schemalist>
  <app-schema-list></app-schema-list>
</ng-template>

<ng-template #current>
  <h1 mat-dialog-title>Databases
  </h1>
  <div [@anim]='state' [@shake]='shakeState'>
    <mat-selection-list class="dlg-list-container" (selectionChange)="changeSelect($event)">
      <mat-list-option *ngFor="let db of databaseList">
        {{db}}
      </mat-list-option>
    </mat-selection-list>
    <div class="row between-xs">
      <div class="col-xs-4" style="margin-left:-12px">
        <button mat-button color="primary">Back</button>
      </div>

      <div class="col-xs-3">
        <button mat-raised-button color="primary" (click)="next()">
          Next &nbsp;
        </button>
      </div>

    </div>
  </div>
</ng-template>
