/* You can add global styles to this file, and also import other style files */

@import './app/modules/shared/navigation/theme';
@include angular-material-theme($app-theme);
body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #292a1d;
}

@include mat-core();
a {
    text-decoration-color: mat-color($app-primary);
    color: mat-color($app-primary);
}

mat-form-field {
    // display: unset !important;
    width: 100%;
}

// * {
//     margin: 0;
//     padding: 0;
// }
html,
.dangerous {
    color: red;
}

.link {
    cursor: pointer;
}

// mat-dialog-container {
//     padding: 0px !important;
// }

/* Scroll bar */

.dlg-list-container {
    overflow: auto;
    height: 300px;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #ffffff;
}


/* Handle */

::-webkit-scrollbar-thumb {
    // background: $app-theme;
}

.tooltip-icon {
    font-size: 15px;
    position: absolute;
    margin-left: 5px;
}

.btn-white {
    color: #FFFFFF;
}

.field-label {
    font-weight: 500;
    margin: 0 5px;
}