<mat-card>
        <mat-card-title>Create User</mat-card-title>
        <mat-card-content>
            <form class="normal-form" [formGroup]="addForm" (ngSubmit)="onSubmit()">
                <mat-grid-list cols="2" rowHeight="fit">
                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>User Name</mat-label>
                                <input matInput formControlName="username" placeholder="Enter User Name">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                       
                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>Email Address</mat-label>
                                <input matInput formControlName="email" placeholder="Email Address">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" placeholder="password" type="password">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>Company</mat-label>
                                <input matInput formControlName="company"  type="text">
                            </mat-form-field>
                        </div> 
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>Phone</mat-label>
                                <input matInput formControlName="phone" type="text">
                            </mat-form-field>
                        </div> 
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="address" type="text">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                   
                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>Designaton</mat-label>
                                <input matInput formControlName="designation" type="text">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                    
                    <mat-grid-tile>
                        <div class="text-inside-grid">
                            <mat-form-field class="example-full-width">
                                <mat-label>Purpose of Usage</mat-label>
                                <input matInput formControlName="purpose_of_usage" type="text">
                            </mat-form-field>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
                <h3>Access Control</h3>
                <mat-divider></mat-divider>
                <p>
                    <mat-tab-group dynamicHeight>
                        <mat-tab *ngFor="let product of products" [label]="product.product_name">
                            <mat-selection-list #policy matLine (selectionChange)="onSelection($event, policy.selectedOptions)">
                                <mat-list-option *ngFor="let policy of product.policies" [value]="policy.policy_id">
                                    {{policy.policy_name}}
                                </mat-list-option>
                            </mat-selection-list>
                        </mat-tab>
                    </mat-tab-group>
                      
                </p>
                <button mat-raised-button color="primary" class="create-user-button">Create User</button>
                
            </form>
            
            
           
        </mat-card-content>
    </mat-card>