<mat-progress-bar [color]="'warn'" mode="indeterminate" *ngIf="loading === 'PROGRESSDLG'">
</mat-progress-bar>

<mat-card>
  <ng-container *ngComponentOutlet="
  dlgData.component">
  </ng-container>
</mat-card>
