<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer 
    class="sidenav" 
    fixedInViewport="true" 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" 
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Auto Index</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="javascript:;" [routerLink]="['create-routing']">
        <div class="row" style="width:100%">
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <i class="fa fa-gears" aria-hidden="true"></i>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            Configure
          </div>   
        </div>
      </a>
     

      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button 
        type="button" 
        aria-label="Toggle sidenav" 
        mat-icon-button (click)="drawer.toggle()" 
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Routing Module</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
 
</mat-sidenav-container>